body{
    all: unset;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    height: 100vh;
}

#ref{
    display: flex;
    position: fixed;
    justify-items: center;
    align-items: center;
    height: 100vh;
}
#ref img{
    margin-top: 20px;
    opacity: 0;
    width: 60em;
}

main{
    all: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center; 
    border-radius: 20px;
    box-shadow: 0 0 20px 1px gray;
}

#firstPlate {
    width: 39.5em;
    height: 21.5em;
    background: radial-gradient(circle, rgba(255,239,0,1) 0%, rgba(255,196,0,1) 100%);
    border-radius: 1em 1em;
    border:  8px red;
    border-style: ridge groove;
    box-shadow: inset 0 0 30px 0 darkgoldenrod;
    display: flex;
    flex-direction: row;
}

/* LEFT CENTER Y RIGHT GENERAL */
#center{
    box-sizing: border-box;
    display: flex;
    background-color: blue;
    height: 100%;
    width: 22em;
}

#left{
    box-sizing: border-box;
    width: 9.5em;
}
#right{
    box-sizing: border-box;
    width: 8.5em;
}

/* TOP Y BOT DERECHA */
#topRight{
    box-sizing: border-box;
    display: flex;
    height:40%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 1.3em;
}
#botRight{
    box-sizing: border-box;
    display: flex;
    height: 60%;
    padding: .7em 0 .7em;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* BOTONES DERECHA */
.whiteButton{
    background-color: white;
    height: 1.2em;
    width: 2.2em;
    border-radius: 20px 20px;
    border: 5px solid red;
}

.bigRedButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    background-color: red;
    box-shadow: inset .1em .1em .2em 0em darkslategray;
}

.yellowBigButton{
    height: 3.4em;
    width: 3.4em;
    border-radius: 50%;
    background:radial-gradient(circle, rgb(255, 254, 244) 0%, rgb(255, 231, 12) 50%, rgba(255,196,0,1) 100%);
    box-shadow: .5em .5em 1em 0em darkslategray;

}

.managementWhiteButton{
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}
.managementRedButton{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    
}
.letterButton{
    align-self: flex-end;
    margin-bottom: .5em;
}

/* TOP Y BOT IZQUIERDA */
#topLeft{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    padding: .5em 0 2.2em;
}

#textoArcade2{
    margin-top: -.3em;
}
.textoArcade{
    font-size: 2em;
    font-family: 'Dolce Vita Light', 'Allan', cursive;
    text-align: center;
}

.speaker{
    width: 2.5em;
    height: .6em;
    border-radius: 1em;
    background-color: black;
}

#botLeft{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    padding-bottom: .9em;
}

#leftAreaButton{
    border-radius: 5em 0 0 5em;
    height: 3em;
    width: 3em;
    margin-left: .4em;
}

#rightAreaButton{
    box-sizing: border-box;
    border-radius: 0 5em 5em 0;
    height: 3em;
    width: 3em;
    margin-right: .7em;   
}

#topBotAreaButtons{
    box-sizing: border-box;
    border-radius: 5em;
    height: 8em;
    width: 3em;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .4em 0;
}

.colorAreaCross{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.smallRedButton{
    width: 2.4em;
    height: 2.4em;
    background:radial-gradient(circle, rgb(255, 254, 244) 0%, rgb(255, 231, 12) 50%, rgba(255,196,0,1) 100%);;
    border-radius: 50%;
    box-shadow: .1em .1em .5em 0em darkslategray;
}

